.filtering{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
}

.filter_section{
    height: auto;
    width: auto ;
    background-color: white;
    margin-top: 0rem;
    padding: 2rem 3rem 2rem 3rem;
    align-items: center;
    justify-content: center;    
}



.select{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filtering.filter-open .filter_section {
    display: flex;
}
