.main-nav{
    background-color:#FFFFFF;
    position:relative;
    border: 1px solid red;
  
}

.logo-pic {
        max-width: 100%;
        height: auto;
        width: auto;
        max-height: 90px; /* Adjust this value to control the maximum height of the logo */
}
      


.itemList{
    position: relative;
}

.itemList::after{
    content: '';
    width:0;
    height: 3px;
    background:#FBAF1A;
    position: absolute;
    left: 0;
    bottom:-6px;
}
.itemList:hover::after{
    width: 100%;
    transition: 0.3s ease all;
  
}
