.main-nav{
    background-color:#FFFFFF;
    position:relative;
    border: 1px solid red;
  
}

.logo-pic{
    margin-right: 100px;
}

.itemList{
    position: relative;
}
.itemList::after{
    content: '';
    width:0;
    height: 3px;
    background:#FBAF1A;
    position: absolute;
    left: 0;
    bottom:-6px;
}
.itemList:hover::after{
    width: 100%;
    transition: 1s ease all;
}