.HeroSection{
    height: fit-content;
    position: relative;
    max-width: 100%;
    background-image: url('../../assets/heroImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    padding: 4rem;
}

.header-line{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: inherit;
    margin-bottom: 2rem;

}

.header-line .header-text{
    display: flex;
}

.search_bar{
    height: auto;
    width: 65%;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    background-color: white;
    opacity: 90%;
    padding: 0.2rem 1rem 0.25rem 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    position: relative; 
    z-index: inherit; 
}

.header-content{
    position: relative;
    z-index: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.PropertyFilter{
    position: absolute;
    z-index: inherit;
}