.responsive_fontsize18 li{
   list-style: none;
   display:flex;
   padding-top: 10px;
}
.responsive_fontsize18{
    padding-top: 10px;
}
.itemTitle{ 
    font-weight: 600;
    display: flex;
}
.responsive_fontsize24{
    position: relative;
}
.responsive_fontsize24::after{
    content: '';
    width:0;
    height: 3px;
    background:#edab03;
    position: absolute;
    left: 0;
    bottom:-6px;
}
.responsive_fontsize24:hover::after{
    width: 100%;
}
.responsive_fontsize18 a{
    text-decoration: none;
    color:#292C6A;
}

