.responsive_fontsize20 li{
   list-style: none;
}
.responsive_fontsize24{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;

}
.responsive_fontsize20 a{
    text-decoration: none;
    color:#292C6A;
}