.responsive_fontsize20 li{
   list-style: none;
   display:flex;
}
.responsive_fontsize20{
    padding-top: 10px;
}
.itemTitle{ 
    
    font-weight: 600;
    
    display: flex;
}
.responsive_fontsize24{
    position: relative;
}
.responsive_fontsize24::after{
    content: '';
    width:0;
    height: 3px;
    background:#FBAF1A;
    position: absolute;
    left: 0;
    bottom:-6px;
}
.responsive_fontsize24:hover::after{
    width: 100%;
}
.responsive_fontsize20 a{
    text-decoration: none;
    color:#292C6A;
}

.vertical-divider{
    border-left: 3px solid #000000;
    height: 220px;
    position: absolute;
    left: 33%;
    margin-left: -4px;
    top: 240px;
    
}